@using HeThongQuanLyDatVeMayBay.Models
@model HeThongQuanLyDatVeMayBay.Models.CHUYENBAY
@{
    ViewBag.Title = "Edit";
    DBEntities_QLHeThongDatVeMayBay db = new DBEntities_QLHeThongDatVeMayBay();
    var listmaybay = db.MAYBAYs.ToList();
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <div class="container mt-3">
        <h3 class="text-center">Cập nhật Chuyến Bay</h3>
        <form method="post">
            <label for="idchuyenbay">ID Chuyến bay</label>
            <input type="text" name="idchuyenbay" value="@Model.idChuyenBay" class="form-control" readonly>
            @{
                string y = Model.NgayBay.Value.Year.ToString();
                string m;
                if (int.Parse(Model.NgayBay.Value.Month.ToString()) < 10)
                {
                    m = "0" + Model.NgayBay.Value.Month.ToString();
                }
                else
                {
                    m = Model.NgayBay.Value.Month.ToString();
                }
                string d;
                if (int.Parse(Model.NgayBay.Value.Day.ToString()) < 10)
                {
                    d = "0" + Model.NgayBay.Value.Day.ToString();
                }
                else
                {
                    d = Model.NgayBay.Value.Day.ToString();
                }
            }
            <label for="ngaybay">Ngày bay</label>
            <input type="date" name="ngaybay" value="@y-@m-@d" class="form-control">
            <label for="giobay">Giờ bay</label>
            <input type="text" name="giobay" value="@Model.GioBay" class="form-control">
            <label for="gioden">Giờ đến</label>
            <input type="text" name="gioden" value="@Model.GioDen" class="form-control">
            <label for="noidi">Nơi đi</label>
            <input type="text" name="noidi" value="@Model.NoiDi" class="form-control">
            <label for="noiden">Nơi đến</label>
            <input type="text" name="noiden" value="@Model.NoiDen" class="form-control">
            <label for="noiden">Máy bay</label>
            <select class="form-select form-control" aria-label=".form-select-sm example" name="idmaybay">
                <option selected readonly style="background-color: silver">@Model.idMayBay @Model.MAYBAY.TenMayBay @Model.MAYBAY.HANGMAYBAY.TenHang</option>
                @foreach (var items in listmaybay)
                {
                    <option>@items.idMayBay @items.TenMayBay @items.HANGMAYBAY.TenHang</option>
                }
            </select>
            <input type="submit" value="Cập nhật" class="btn btn-primary mt-2" style="width: 120px"> <br>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </form>
    </div>
}

