@using HeThongQuanLyDatVeMayBay.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rica">
    <meta name="keywords" content="rica">
    <meta name="author" content="rica">
    <link rel="icon" href="~/Image/favicon.png" type="image/x-icon" />
    <title>GOLDSKY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styte.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/partner.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="~/Image/logo_hethongbig.png" width="220" height="70" style="margin-left: 5px;">
        @if (Content.QuyenUser == "Admin")
        {
            <a class="navbar-brand text-white setfont" style="margin-left: 15px; font-size: 35px;">ADMIN</a>
        }
        else if (Content.QuyenUser == "thuky")
        {
            <a class="navbar-brand text-white setfont" style="margin-left: 15px; font-size: 35px;">THUKY</a>
        }
        else
        {
            <a class="navbar-brand text-white setfont" style="margin-left: 15px; font-size: 35px;">PARTNER</a>
        }

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            @if (Content.QuyenUser == "Admin" || Content.QuyenUser == "Thuky")
            {
                <span style="background-color: white; margin-right: 10px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">@Content.HoTen</span>
                <span style="background-color: white; margin-right: 10px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">Email: @Content.email</span>
                <span style="background-color: white; margin-right: 15px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">Liên hệ: @Content.sdt</span>
            }
            else
            {
                <span style="background-color: white; margin-right: 10px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">@Content.TenHang</span>
                <span style="background-color: white; margin-right: 10px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">Email: @Content.EmailHang</span>
                <span style="background-color: white; margin-right: 15px; font-size: 18px; border-radius: 5px; padding: 7px; font-weight: 600;">Liên hệ: @Content.SdtHang</span>
            }

            <form class="form-inline my-2 my-lg-0">
                @using (Html.BeginForm())
                {
                    <input class="form-control mr-sm-2" type="search" name="mysearch" style="width: 235px;" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-danger" style="width: 60px; margin-bottom: 0px;">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="Home/Logout" style="background-color: white; padding: 10px 6px; border-radius: 5px; font-size: 12px; margin-left: 8px;">
                        <i class="fas fa-sign-out-alt">&nbsp;Log Out</i>
                    </a>
                }
            </form>
        </div>
    </nav>
    <div class="navbar-left">
        <ul>
            <li><a class="active">MENU</a></li>
            <li><a href="/Home/IndexPartner"><i class="fas fa-home" style="margin-left: 1px; margin-right: 14px;"></i>Home</a></li>
            @if (Content.QuyenUser == "Admin")
            {
                <li><a href="/AdminUser/Index"><i class="fas fa-user"></i>User</a></li>
                <li><a href="/Revenue/Index"><i class="fas fa-funnel-dollar" style="margin-left: 1px; margin-right: 12px;"></i>Revenue</a></li>
                <li><a href="/HistoryAdmin/Index"><i class="fas fa-history" style="margin-left: 2px;"></i>Booked</a></li>
                <li><a href="/ManagmentTicket/Index"><i class="fas fa-clipboard-list" style="margin-left: 5px;"></i>Ticket</a></li>
                <li><a href="/Promotion/Index"><i class="fas fa-percent" style="margin-left: 4px;"></i>Promotion</a></li>
                <li><a href="/Role/Index"><i class="fab fa-resolving"></i>Role</a></li>
            }
            else if (Content.QuyenUser == "Thuky")
            {
                <li><a href="/Promotion/Index"><i class="fas fa-percent" style="margin-left: 4px;"></i>Promotion</a></li>
            }
            else
            {
                <li><a href="/PartnerTickets/Index"><i class="fas fa-clipboard-list" style="margin-left: 5px;"></i>Ticket</a></li>
                <li><a href="/PartnerFlights/Index"><i class="fas fa-plane-departure" style="margin-left: -1px;"></i>Flight</a></li>
                <li><a href="/PartnerPlanes/Index"><i class="fas fa-plane" style="margin-left: 1px;"></i>Plane</a></li>
                <li><a href="/RevenuePartner/Index"><i class="fas fa-funnel-dollar" style="margin-left: 1px; margin-right: 12px;"></i>Revenue</a></li>
                <li><a href="/HistoryPartner/Index"><i class="fas fa-history" style="margin-left: 2px;"></i>Booked</a></li>
            }
            <li><a href="/Home/About"><i class="fab fa-accusoft" style="margin-left: 1px; margin-right: 14px;"></i>About</a></li>
            <li><a href="/Home/Contact"><i class="fas fa-phone-alt" style="margin-right: 16px;"></i>Contact</a></li>
        </ul>
    </div>
    <br />
    <div class="contrainer-home">
        @RenderBody()
    </div>
    <hr />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/date-picker.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/lazysizes.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/filter.js"></script>
    <script src="~/Scripts/isotope.min.js"></script>
    <script src="~/Scripts/fare-calender/main.js"></script>
    <script src="~/Scripts/fare-calender/main_1.js"></script>
    <script src="~/Scripts/fare-calender/calender-data.js"></script>
    <script src="~/Scripts/price-range.js"></script>
    <script src='~/Scripts/sticky-kit.js'></script>
    <script>
        $(document).ready(function () {
            $("input[type='radio']").click(function () {
                var radioValue = $("input[name='HienThi']:checked").val();
                if (radioValue == "1") {
                    $('tbody tr').filter('.conve').show();
                    $('tbody tr').filter('.hetve').hide();          
                }
                else if (radioValue == "2") {
                    $('tbody tr').filter('.hetve').show();
                    $('tbody tr').filter('.conve').hide();
                }
                else if (radioValue == "3") {
                    $('tbody tr').filter('.hetve').show();
                    $('tbody tr').filter('.conve').show();
                }
            });
        });
    </script>
</body>
</html>




