@model PagedList.IPagedList<HeThongQuanLyDatVeMayBay.Models.VEMAYBAY>
@using PagedList.Mvc;
@using HeThongQuanLyDatVeMayBay.Models;
@{
    ViewBag.Title = "Index";
    string check = Content.QuyenUser;
}
<style>
    .flight-detail-sec .detail-bar .detail-wrap .airport-part .airport-progress .typeticket {
        position: absolute;
        left: 49%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -25px;
        width: 100%;
        background: -webkit-linear-gradient(bottom, #05dbff, #dd56ff);
        width: 100px;
    }

    .myclassed {
        width: 35px;
        height: 35px;
        border: 1px solid #d6d4d4;
        background-color: white;
        margin-left: 5px;
        padding-top: 7px;
        text-align: center;
        vertical-align: central;
    }

    .myclassed:hover {
        background-color: #ffe75b;
        cursor: pointer;
    }

    .fontbold {
        font-weight: 600;
    }

    .create-refesh {
        display: flex;
        margin-top: 30px;
        text-align: center;
    }
</style>
<!-- pre-loader start -->
<div class="skeleton_loader">
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="menu">
                        <div class="brand-logo">
                            <a href="../index.html">
                                <img src="~/Image/logo_hethongbig.png" alt=""
                                     class="img-fluid blur-up lazyload">
                            </a>
                        </div>
                        <nav>
                            <div class="main-navbar">
                                <div id="mainnav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <div class="menu-overlay"></div>
                                    <ul class="nav-menu">
                                        <li class="dropdown">
                                            <a href="/" class="nav-link menu-title">Home</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link menu-title">Flight</a>
                                        </li>
                                        @if (check != "")
                                        {
                                            <li class="dropdown">
                                                <a class="nav-link menu-title">History</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="nav-link menu-title">Promotion</a>
                                            </li>

                                        }
                                        <li class="back-btn">
                                            <div class="mobile-back text-end">
                                                <span>Back</span>
                                                <i aria-hidden="true" class="fa fa-angle-right ps-2"></i>
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link menu-title">About</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link menu-title">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <ul class="header-right">

                            @if (check != "")
                            {
                                <li class="user rounded5" onclick="myuserout()" style="cursor: pointer;">
                                    <span>@Content.HoTen</span>
                                </li>

                                <li class="user rounded5">
                                    <a href="Home/Logout">
                                        <i class="fas fa-sign-out-alt">&nbsp;Log Out</i>
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li class="user rounded5">
                                    <a href="Home/Login">
                                        <i class="fas fa-user">&nbsp;Login</i>
                                    </a>
                                </li>
                                <li class="user rounded5">
                                    <a href="Home/Signin">
                                        <i class="fas fa-sign-in-alt">&nbsp;Sigin</i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="breadcrumb-section flight-sec"></section>
    <div class="bg-inner small-section pb-0">
        <div class="container">
            <div class="flight-search">
                <div class="responsive-detail">
                    <div class="destination">
                        <span></span>
                    </div>
                    <div class="details">
                        <span></span>
                    </div>
                    <div class="modify-search">
                        <div class="ldr-btn"></div>
                    </div>
                </div>
                <div class="flight-search-detail">
                    <form class="row m-0">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                        <div class="col-lg-2 search-col">
                            <div class="form-group">
                                <input type="text" class="form-control open-select">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="pt-0 bg-inner small-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search-bar">
                            <input>
                        </div>
                        <div class="middle-part collection-collapse-block open">
                            <a href="javascript:void(0)" class="section-title collapse-block-title">
                                <h5></h5>
                            </a>
                            <div class="collection-collapse-block-content ">
                                <div class="filter-block">
                                    <div class="collection-collapse-block open">
                                        <h6 class="collapse-block-title"></h6>
                                        <div class="collection-collapse-block-content">
                                            <div class="collection-brand-filter">
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-block">
                                    <div class="collection-collapse-block open">
                                        <h6 class="collapse-block-title"></h6>
                                        <div class="collection-collapse-block-content">
                                            <div class="collection-brand-filter">
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-block">
                                    <div class="collection-collapse-block open">
                                        <h6 class="collapse-block-title"></h6>
                                        <div class="collection-collapse-block-content">
                                            <div class="collection-brand-filter">
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-block">
                                    <div class="collection-collapse-block open">
                                        <h6 class="collapse-block-title"></h6>
                                        <div class="collection-collapse-block-content">
                                            <div class="collection-brand-filter">
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-block">
                                    <div class="collection-collapse-block open">
                                        <h6 class="collapse-block-title"></h6>
                                        <div class="collection-collapse-block-content">
                                            <div class="collection-brand-filter">
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                                <div class="form-check collection-filter-checkbox">
                                                    <input class="form-check-input">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 ratio3_2">
                    <a href="javascript:void(0)" class="mobile-filter border-top-0">
                        <h5></h5>
                        <img src="../assets/images/icon/adjust.png" class="img-fluid blur-up lazyload" alt="">
                    </a>
                    <div class="top-bar-flight">
                        <div class="date-fare-slider">
                            <div class="fare-6">
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box active">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="fare-box">
                                        <h5 class="date"></h5>
                                        <h6 class="fare"></h6>
                                    </div>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0)">
                                        <div class="fare-box">
                                            <h5 class="date"></h5>
                                            <h6 class="fare"></h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="fare-calender">
                            <div>
                                <i></i>
                                <h6 class="title"></h6>
                            </div>
                            <div class="calender-external">
                            </div>
                        </div>
                    </div>
                    <div class="flight-detail-sec">
                        <div class="title-bar">
                            <div class="row">
                                <div class="col-2">
                                    <p></p>
                                </div>
                                <div class="col-5">
                                    <p></p>
                                </div>
                                <div class="col-2">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="detail-bar">
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-wrap">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="logo-sec">
                                            <div class="ldr-img"></div>
                                            <span class="title"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="airport-part">
                                            <div class="airport-name">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                            <div class="airport-progress">
                                                <div class="stop">
                                                </div>
                                            </div>
                                            <div class="airport-name arrival">
                                                <h4></h4>
                                                <h6></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="price">
                                            <div>
                                                <h4></h4>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="book-flight">
                                            <div class="ldr-btn"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- per-loader end -->
<!-- breadcrumb start -->
<section class="breadcrumb-section" style="height: 400px; image-rendering: pixelated;">
    <img src="~/Image/flights/flight-breadcrumb4.jpg" style="filter: drop-shadow(0 0 5px blue);object-fit:fill; height: 400px;" class="bg-img blur-up lazyload" alt="">
    <div class="flight run"></div>
</section>
<!-- breadcrumb end -->
<!-- section body start -->
<section class="pt-0 bg-inner small-section">
    <div class="container" style="margin-left: 8%">
        <div class="row">
            <div class="col-lg-11 ratio3_2">
                <a href="javascript:void(0)" class="mobile-filter border-top-0">
                    <h5>latest filter</h5>
                    <img src="../assets/images/icon/adjust.png" class="img-fluid blur-up lazyload" alt="">
                </a>
                <div class="create-refesh">
                    <input type="radio" name="HienThi" value="3" style=" height: 20px; width: 50px; margin: 3px 0px 0px 100px;" />
                    <label style="margin-top: 4px;">Tất cả</label><br /><br />
                    <input type="radio" name="HienThi" value="1" style=" height: 20px; width: 50px; margin: 3px 0px 0px 50px;" />
                    <label style="margin-top: 4px;">Còn vé</label> <br />
                    <input type="radio" name="HienThi" value="2" style=" height: 20px; width: 50px; margin: 3px 0px 0px 50px;" />
                    <label style="margin-top: 4px;">Hết vé</label><br />

                    <label style="margin-left: 200px; font-size: 16px;margin-top: 4px;">Lọc theo giá: </label>
                    <form action="/Booknow/sortup" method="post">
                        <button type="submit" style="margin-left: 30px; height: 35px; padding-top: 11px;" class="btn btn-outline-primary"><i class="fas fa-sort-up" style="font-size: 18px;"></i></button>
                        <label style="margin-left: 5px; font-size: 16px;margin-top: 4px;">Từ thấp đến cao</label>
                    </form>
                    
                    <form action="/Booknow/sortdown" method="post">
                        <button type="submit" style="margin-left: 30px; height: 35px" class="btn btn-outline-primary"><i class="fas fa-sort-down" style="font-size: 18px;"></i></button>
                        <label style="margin-left: 5px; font-size: 16px;margin-top: 4px;">Từ cao xuống thấp</label>
                    </form>                   
                    
                </div>
                <form class="flight-detail-sec">
                    <div class="title-bar">
                        <div class="row">
                            <div class="col-2">
                                <p>Airline</p>
                            </div>
                            <div class="col-5">
                                <p>departure & arrival</p>
                            </div>
                            <div class="col-2">
                                <p>price</p>
                            </div>
                        </div>
                    </div>
                    <div class="detail-bar">
                        @foreach (var vemaybay in Model)
                        {

                            int sokg = vemaybay.SoKgHanhLy.Value + vemaybay.LOAIVE.ThemSoKg.Value;
                            int giave = vemaybay.GiaVe.Value + vemaybay.LOAIVE.TienTraThem.Value;
                            string giavevnd = giave.ToString();
                            string tenhang = vemaybay.CHUYENBAY.MAYBAY.HANGMAYBAY.TenHang.ToString();
                            if (vemaybay.TrangThai == "Còn vé")
                            {
                                <div class="detail-wrap wow fadeInUp conve">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="logo-sec">
                                                @if (tenhang == "BamBoo Airways")
                                                {
                                                    <img src="~/Image/flights/airlines/bamboo_airway.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                }
                                                else if (tenhang == "VietNam Airlines")
                                                {
                                                    <img src="~/Image/flights/airlines/vietnam_airline.png"
                                                         class="img-fluid blur-up lazyload" alt="" width="290" height="290">
                                                }
                                                else if (tenhang == "VietJet Air")
                                                {
                                                    <img src="~/Image/flights/airlines/vietject_logo.png"
                                                         class="img-fluid blur-up lazyload" alt="" width="290" height="290">
                                                }
                                                <span class="title" name="">@tenhang</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="airport-part">
                                                <div class="airport-name">
                                                    <h4 name="">@vemaybay.CHUYENBAY.GioBay</h4>
                                                    <h6 name="" style="width: 50px">@vemaybay.CHUYENBAY.NoiDi</h6>
                                                </div>
                                                <div class="airport-progress">
                                                    <div class="typeticket">
                                                        @vemaybay.LOAIVE.TenLoaiVe
                                                    </div>
                                                    <a name=""></a>
                                                    <i class="fas fa-plane-departure float-start"></i>
                                                    <i class="fas fa-plane-arrival float-end"></i>
                                                    <div class="stop" name="">
                                                        @vemaybay.CHUYENBAY.NgayBay.Value.Day&#47;@vemaybay.CHUYENBAY.NgayBay.Value.Month&#47;@vemaybay.CHUYENBAY.NgayBay.Value.Year
                                                    </div>
                                                </div>
                                                <div class="airport-name arrival">
                                                    <h4 name="">@vemaybay.CHUYENBAY.GioDen</h4>
                                                    <h6 name="" style="width: 50px">@vemaybay.CHUYENBAY.NoiDen</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="price">
                                                <div>
                                                    <span style="font-size: 3px; color: white" name="idVe">@vemaybay.idVe</span>
                                                    <h4 name="">@Content.TienByString(giavevnd) VNĐ</h4>
                                                    <h6 name="">@sokg Kg</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="book-flight">
                                                @Html.ActionLink("book now", "booking", new { idVe = vemaybay.idVe.Trim() }, new { @class = "btn btn-solid color1 " })
                                                <!--<button type="submit" class="btn btn-solid color1 ">book now</button>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="detail-wrap wow fadeInUp hetve" style="background-color: #e9e5e5">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="logo-sec">
                                                @if (tenhang == "BamBoo Airways")
                                                {
                                                    <img src="~/Image/flights/airlines/bamboo_airway.png"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                }
                                                else if (tenhang == "VietNam Airlines")
                                                {
                                                    <img src="~/Image/flights/airlines/vietnam_airline.png"
                                                         class="img-fluid blur-up lazyload" alt="" width="290" height="290">
                                                }
                                                else if (tenhang == "VietJet Air")
                                                {
                                                    <img src="~/Image/flights/airlines/vietject_logo.jpg"
                                                         class="img-fluid blur-up lazyload" alt="" width="290" height="290">
                                                }
                                                <span class="title" name="">@tenhang</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="airport-part">
                                                <div class="airport-name">
                                                    <h4 name="">@vemaybay.CHUYENBAY.GioBay</h4>
                                                    <h6 name="" style="width: 50px">@vemaybay.CHUYENBAY.NoiDi</h6>
                                                </div>
                                                <div class="airport-progress">
                                                    <div class="typeticket">
                                                        @vemaybay.LOAIVE.TenLoaiVe
                                                    </div>
                                                    <a name=""></a>
                                                    <i class="fas fa-plane-departure float-start"></i>
                                                    <i class="fas fa-plane-arrival float-end"></i>
                                                    <div class="stop" name="">
                                                        @vemaybay.CHUYENBAY.NgayBay.Value.Day&#47;@vemaybay.CHUYENBAY.NgayBay.Value.Month&#47;@vemaybay.CHUYENBAY.NgayBay.Value.Year
                                                    </div>
                                                </div>
                                                <div class="airport-name arrival">
                                                    <h4 name="">@vemaybay.CHUYENBAY.GioDen</h4>
                                                    <h6 name="" style="width: 50px">@vemaybay.CHUYENBAY.NoiDen</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="price">
                                                <div>
                                                    <span style="font-size: 3px; color: #e9e5e5" name="idVe">@vemaybay.idVe</span>
                                                    <h4 name="">@Content.TienByString(giavevnd) VNĐ</h4>
                                                    <h6 name="">@sokg Kg</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="book-flight">
                                                <div style="width: 116px; height: 35px;padding-top: 5px; font-size: 16px; font-weight: 700;
                                                    text-align: center; color: white; background-color: seagreen;">Sold Out</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }

                        }
                    </div>
                </form>
                <br />
                <nav aria-label="Page navigation example" class="pagination-section mt-0">
                    <span class="fontbold">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                    <ul class="pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                       new PagedListRenderOptions
                       {
                           DisplayLinkToIndividualPages = true,
                           DisplayPageCountAndCurrentLocation = false,
                           MaximumPageNumbersToDisplay = 10,
                           LiElementClasses = new string[] { "myclassed" }
                       })
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- section body End -->
