@model List<HeThongQuanLyDatVeMayBay.Models.VEMAYBAY>
@{
    ViewBag.Title = "Index";
}
<div class="container mt-3">
    @Html.ActionLink("Create list ticket for a flight", "Create", "PartnerTickets", new { @class = "btn btn-success" })
    <table class="table">
        <tr>
            <th>ID Vé</th>
            <th>Ngày bay</th>
            <th>Giờ bay</th>
            <th>Giờ đến</th>
            <th>Nơi đi</th>
            <th>Nới đến</th>
            <th>Tên máy bay</th>
            <th>Hãng máy bay</th>
            <th>Loại vé</th>
            <th>Tổng Số kg hành lý</th>
            <th>Tổng giá vé</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var vemaybay in Model)
            {
                int sokg = vemaybay.SoKgHanhLy.Value + vemaybay.LOAIVE.ThemSoKg.Value;
                int giave = vemaybay.GiaVe.Value + vemaybay.LOAIVE.TienTraThem.Value;
                <tr>
                    <td>@vemaybay.idVe</td>
                    <td>@vemaybay.CHUYENBAY.NgayBay</td>
                    <td>@vemaybay.CHUYENBAY.GioBay</td>
                    <td>@vemaybay.CHUYENBAY.GioDen</td>
                    <td>@vemaybay.CHUYENBAY.NoiDi</td>
                    <td>@vemaybay.CHUYENBAY.NoiDen</td>
                    <td>@vemaybay.CHUYENBAY.MAYBAY.TenMayBay</td>
                    <td>@vemaybay.CHUYENBAY.MAYBAY.HANGMAYBAY.TenHang</td>
                    <td>@vemaybay.LOAIVE.TenLoaiVe</td>
                    <td>@sokg Kg</td>
                    <td>@giave VNĐ</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = vemaybay.idVe.Trim() }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = vemaybay.idVe.Trim() }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

