@using HeThongQuanLyDatVeMayBay.Models
@model HeThongQuanLyDatVeMayBay.Models.VEMAYBAY

@{
    ViewBag.Title = "Create";
    DBEntities_QLHeThongDatVeMayBay db = new DBEntities_QLHeThongDatVeMayBay();
    var listchuyenbay = db.CHUYENBAYs.ToList(); 
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <style>
        form label {
            margin-top: 5px;
        }
    </style>
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container mt-3">
        <h3 class="text-center">Thêm List vé của 1 chuyến bay</h3>
        <form method="post">
            <label for="maybay">Chọn chuyến bay: </label>
            <select class="form-select form-control" aria-label=".form-select-sm example" name="idChuyenBay">
                <option selected disabled="disabled">...</option>
                @foreach (var items in listchuyenbay)
                {
                    if (items.MAYBAY.HANGMAYBAY.TenHang == Content.TenHang)
                    {
                        <option>@items.idChuyenBay &#124; @items.NgayBay.Value.Day&#47;@items.NgayBay.Value.Month&#47;@items.NgayBay.Value.Year &#124; @items.NoiDi &rarr; @items.NoiDen &#124; @items.GioBay &rarr; @items.GioDen &#124; @items.MAYBAY.TenMayBay &#124; @items.MAYBAY.HANGMAYBAY.TenHang &#124; @items.MAYBAY.SoLuongKhach Khách</option>
                    }
                }
            </select>
            <label for="idVe">Số lượng vé: </label>
            <input type="text" name="idVe" class="form-control">
            <label for="SoKgHanhLy">Số Kg hành lý mặc định: </label>
            <input type="number" name="SoKgHanhLy" class="form-control">
            <label for="GiaVe">Giá vé mặc định: </label>
            <input type="number" name="GiaVe" class="form-control">
            <br />
            <input type="submit" value="Thêm mới" class="btn btn-success mt-2">
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </form>
    </div>
}


