@using HeThongQuanLyDatVeMayBay.Models
@model HeThongQuanLyDatVeMayBay.Models.VEMAYBAY
@{
    ViewBag.Title = "Edit";
    DBEntities_QLHeThongDatVeMayBay db = new DBEntities_QLHeThongDatVeMayBay();
    var listchuyenbay = db.CHUYENBAYs.ToList();
    var listloaive = db.LOAIVEs.ToList();
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container mt-3">
        <h3 class="text-center">Cập nhật vé máy bay</h3>
        <form method="post">
            <label for="idVe">ID Vé máy bay</label>
            <input type="text" name="idVe" value="@Model.idVe" class="form-control" readonly>
            <label for="idChuyenBay">Chuyến Bay: </label>
            <select class="form-select form-control" aria-label=".form-select-sm example" name="idChuyenBay">
                <option selected readonly style="background-color: silver">@Model.idChuyenBay @Model.CHUYENBAY.NgayBay.Value.Day&#47;@Model.CHUYENBAY.NgayBay.Value.Month&#47;@Model.CHUYENBAY.NgayBay.Value.Year &#124; @Model.CHUYENBAY.NoiDi &rarr; @Model.CHUYENBAY.NoiDen &#124; @Model.CHUYENBAY.GioBay &rarr; @Model.CHUYENBAY.GioDen &#124; @Model.CHUYENBAY.MAYBAY.TenMayBay &#124; @Model.CHUYENBAY.MAYBAY.HANGMAYBAY.TenHang &#124; @Model.CHUYENBAY.MAYBAY.SoLuongKhach Khách</option>
                @foreach (var items in listchuyenbay)
                {
                    <option>@items.idChuyenBay &#124; @items.NgayBay.Value.Day&#47;@items.NgayBay.Value.Month&#47;@items.NgayBay.Value.Year &#124; @items.NoiDi &rarr; @items.NoiDen &#124; @items.GioBay &rarr; @items.GioDen &#124; @items.MAYBAY.TenMayBay &#124; @items.MAYBAY.HANGMAYBAY.TenHang &#124; @items.MAYBAY.SoLuongKhach Khách</option>
                }
            </select>
            <label for="idLoaiVe">Loại Vé: </label>
            <select class="form-select form-control" aria-label=".form-select-sm example" name="idLoaiVe">
                <option selected readonly style="background-color: silver">@Model.idLoaiVe @Model.LOAIVE.TenLoaiVe &#124; Số Kg hành lý thêm:  @Model.LOAIVE.ThemSoKg &#124; Tiền trả thêm: @Model.LOAIVE.TienTraThem VNĐ</option>
                @foreach (var items in listloaive)
                {
            <option>@items.idLoaiVe @items.TenLoaiVe &#124; Số Kg hành lý thêm:  @items.ThemSoKg &#124; Tiền trả thêm: @items.TienTraThem VNĐ</option>
                }
            </select>
            <label for="SoKgHanhLy">Số Kg hành lý</label>
            <input type="number" name="SoKgHanhLy" value="@Model.SoKgHanhLy" class="form-control">
            <label for="GiaVe">Giá Vé</label>
            <input type="number" name="GiaVe" value="@Model.GiaVe" class="form-control">

            <input type="submit" value="Cập nhật" class="btn btn-primary mt-2"> <br>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </form>
    </div>
}

