@model List<HeThongQuanLyDatVeMayBay.Models.MAYBAY>
@{
    ViewBag.Title = "Index";
}
<div class="container mt-3">
    @Html.ActionLink("Create a plane", "Create", "PartnerPlanes", new { @class = "btn btn-success" })
    <table class="table">
        <tr>
            <th>ID máy bay</th>
            <th>Tên máy bay</th>
            <th>Hãng máy bay</th>
            <th>Số lượng khách</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var maybay in Model)
            {
                <tr>
                    <td>@maybay.idMayBay</td>
                    <td>@maybay.TenMayBay</td>
                    <td>@maybay.HANGMAYBAY.TenHang</td>
                    <td>@maybay.SoLuongKhach</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = maybay.idMayBay.Trim() }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = maybay.idMayBay.Trim() }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


