@model List<HeThongQuanLyDatVeMayBay.Models.CHUYENBAY>
@{
    ViewBag.Title = "Index";
}

<div class="container mt-3">
    @Html.ActionLink("Create a flight", "Create", "PartnerFlights", new { @class = "btn btn-success" })
    <table class="table">
        <tr>
            <th>ID Chuyến bay</th>
            <th>Ngày bay</th>
            <th>Giờ bay</th>
            <th>Giờ đến</th>
            <th>Nơi đi</th>
            <th>Nới đến</th>
            <th>Tên máy bay</th>
            <th>Hãng máy bay</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var chuyenbay in Model)
            {
                <tr>
                    <td>@chuyenbay.idChuyenBay</td>
                    <td>@chuyenbay.NgayBay</td>
                    <td>@chuyenbay.GioBay</td>
                    <td>@chuyenbay.GioDen</td>
                    <td>@chuyenbay.NoiDi</td>
                    <td>@chuyenbay.NoiDen</td>
                    <td>@chuyenbay.MAYBAY.TenMayBay</td>
                    <td>@chuyenbay.MAYBAY.HANGMAYBAY.TenHang</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = chuyenbay.idChuyenBay.Trim() }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = chuyenbay.idChuyenBay.Trim() }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


